# Summary of SQL Questions on Leetcode

## Topic 1: Using function, Limit (offset)

### Q177. Nth Highest Salary (Difficulty Level: Medium)

In [ ]:
#My Solution using MySQL:

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
DECLARE M INT;
SET M=N-1;
  RETURN (
      # Write your MySQL query statement below.
      SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC LIMIT M, 1
  );
END

### Q196. Delete Duplicate Emails (Easy)

In [ ]:
Delete p1
from person as p1, person as p2
where p1.email = p2.email
and p1.id > p2.id

### Q578. Get Highest Answer Rate Question (Medium)

In [ ]:
select question_id as survey_log
from survey_log
group by question_id
order by sum(action like 'answer')/count(*) desc limit 1;

## Topic 2: SQL Basics

### Q182. Duplicate Emails (Easy)

In [ ]:
select Email
from person 
group by email
having count(*) > 1;

### Q262. Trips and Users (Hard)

In [ ]:
SELECT T.Request_at AS Day, ROUND((SUM(T.Status NOT LIKE 'Completed') / COUNT(*)), 2) AS 'Cancellation Rate'
FROM Trips as T
JOIN Users as U
ON T.Client_Id = U.Users_Id
WHERE U.Banned = 'No' 
AND Request_at Between '2013-10-01' and '2013-10-03'
GROUP BY Request_at

### Q612. Shortest Distance in a Plane (Medium)

SELECT ROUND(SQRT(MIN((TB1.X-TB2.X)*(TB1.X-TB2.X) + (TB1.Y-TB2.Y)*(TB1.Y-TB2.Y))),2) as shortest
FROM point_2d as TB1, point_2d as TB2
WHERE TB1.X <> TB2.X 
OR TB1.Y <> TB2.Y;

## Topic 3: Joins

### Q183. Customers Who Never Order (Easy)

In [ ]:
SELECT C.Name as Customers
FROM Customers C
LEFT JOIN Orders O
ON C.Id = O.CustomerId
WHERE O.CustomerId IS NULL

### Q184. Department Highest Salary (Medium)

In [ ]:
SELECT D.Name as Department, temp.Name as Employee, temp.SALARY
FROM Department D,
(
SELECT E.Id, E.Name, E.Salary, E.DepartmentId FROM Employee E JOIN
    (SELECT DepartmentId, MAX(SALARY) AS MAXIMUMSALARY 
     FROM Employee
     GROUP BY DepartmentId) Q
     ON E.DepartmentId = Q.DepartmentId
     WHERE E.Salary = MAXIMUMSALARY
) temp
WHERE D.Id = temp.DepartmentId

### Q185. Department Top Three Salaries (Hard)

In [ ]:
select d.name as department, tb1.name as employee, tb1.salary
from employee tb1
left join department d
on tb1.departmentid = d.id
where 
(select count(distinct tb2.salary)
from employee tb2
where tb2.salary > tb1.salary
and tb1.departmentid = tb2.departmentid) < 3