# Summary of SQL Questions on Leetcode

## Topic1: Using function, Limit (offset)

### Q177. Nth Highest Salary [Difficulty Level: Medium]

In [ ]:
#My Solution using MySQL:

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
DECLARE M INT;
SET M=N-1;
  RETURN (
      # Write your MySQL query statement below.
      SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC LIMIT M, 1
  );
END